<!DOCTYPE html>
<html>
<head>
  <title>Memegen</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <script src='//webintents.org/webintents.min.js'></script>
  <%= yield(:js) %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
