<!DOCTYPE html>
<html>
<head>
  <title>Memeinator</title>
  <link rel="stylesheet" href="bootstrap.min.css">
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <script src='//webintents.org/webintents.min.js'></script>
  <%= yield(:js) %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <h1>Memeinator</h1>
</header>
<section>
  <%= yield %>
</section>

<footer>

</footer>

</body>
</html>
