<!doctype html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= stylesheet_link_tag 'reset.css' %>
    <%= stylesheet_link_tag 'base.css' %>
    <%= yield(:js) %>
  </head>
  <body>
    <header>
      <h1><%= yield(:headline) %></h1>
      <nav class="main">
        <span>Site: </span>
        <span><a href="/">Specification</a></span>
        <span><a href="http://newexamples.webintents.org/">Examples</a></span>
        <span><a href="http://usecases.webintents.org">Use Cases</a></span>
        <span><a href="/faq.html">FAQ</a></span>
      </nav>

      <%= yield(:head) %>
    </header>
    <%= yield %>
  </body>
</html>
